; -*- coding: utf-8 -*-
; Tue Aug 27 13:58:20 2019

[buildout]
parts = scripts
develop = .
eggs = bob.io.stream
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true